<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="cards">
  <%@bookmarks.each do |bookmark|%>
  <%# <% @bookmark.movie.each do |movie| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url%>)">
      </h2><%= bookmark.movie.title %><h2>
      <p><span class = "yellow-star">★</span><%= bookmark.movie.rating %> </p>
      <span class="btn-x">
        <%= link_to " x", bookmark_path(bookmark), class: "btn btn-ghost", method: :delete, data: { confirm: "Are you sure?" } %>
      </span>
    </div>
  <% end %>
  <%# <% end %>
</div>

<%= link_to 'Add movie', new_list_bookmark_path(@list), class: "btn btn-ghost" %>
<%# <%= link_to 'Back to lists', lists_path, class: "btn btn-ghost"%>
